.container{
    font-family: 'Light';
    background-color: #EEEEEE;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombras */
    height: 60vh;
    width: 50vh;
}
.login_title_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.login_title{
    font-weight: 500;
    font-size: 2em;
}
.formLogin{
    font-family: 'Light';
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10% 4%;

} 
p {
    font-family: sans-serif;
    font-size: 1em;
}
.login_footer{
    display: flex;
    justify-content: center;
    padding: 4%
}
a{
    /* text-decoration: none; */
    font-family: sans-serif;
    color: black;
}
.success-message {
    position: fixed;
    top: 78%;
    left: 72%;
    transform: translate(-50%, -50%);
    background-color: #E8751A;
    color: white;
    padding: 30px; /* Aumentar el tamaño del padding para hacer el mensaje más grande */
    font-size: 24px; /* Aumentar el tamaño de la fuente */
    border-radius: 10px; /* Hacer los bordes más redondeados */
    z-index: 9999; /* Para asegurarse de que esté por encima de otros elementos */
  }
  