<div class="container">
  <div class="login_title_container">
    <h3 class="login_title">Log In</h3>
    
  </div>
  
  
  <div [formGroup]="form" class="formLogin">
    <p>Please fill out the following fields</p>
    <mat-form-field appearance="fill">
      <mat-label>User Name</mat-label>
      <input matInput formControlName="userName">
      <!-- <div *ngIf="form?.get('userName')?.invalid && form?.get('userName')?.touched">
          <mat-error *ngIf="form.controls('userName').errors['required']">User Name is required</mat-error>
        </div> -->
  
  
  
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="password-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" [type]="showPassword ? 'text' : 'password'" formControlName="password">
      <button type="button" (click)="togglePasswordVisibility()" class="toggle-button">
        {{ showPassword ? 'Hide' : 'Show' }}
      </button>
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">Log In</button>
    <div class="login_footer">
      <p>No Account yet? <a routerLink="/signup">Sign Up!</a></p>
  
    </div>
  </div>
  <div *ngIf="showSuccessMessage" class="success-message">
    <p>Success Login!</p>
    
  </div>
  <div *ngIf="showErrorMessage" class="error-message">
    <p>Ups! {{ errorMessage }}</p>
    <a routerLink="/signup">Try again..</a>
  </div>


  
</div>
