<div class="container">
    <div class="signup_title_container">
        <h3 class="signup_title">Sign Up</h3>
    </div>

    <div [formGroup]="form" class="formSignup">
        <p>Please fill out the following fields</p>
        <mat-form-field appearance="fill">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="userName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>


        <mat-form-field appearance="fill" class="password-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" [type]="showPassword ? 'text' : 'password'"  formControlName="password">
            <button type="button" (click)="togglePasswordVisibility()" class="toggle-button">
                {{ showPassword ? 'Hide' : 'Show' }}
              </button>
        </mat-form-field>
        <mat-form-field appearance="fill" class="password-field">
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword">
            <button type="button" (click)="togglePasswordVisibility()" class="toggle-button">
                {{ showPassword ? 'Hide' : 'Show' }}
              </button>
            <mat-error *ngIf="form.hasError('passwordMismatch')">Passwords do not match</mat-error>

        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">Enviar</button>
        <div class="signup_footer">
            <p>Own an Account? <a routerLink="/login">JUMP RIGHT IN</a></p>

        </div>
    </div>

    <div *ngIf="showSuccessMessage" class="success-message">
        <p>Success Sign Up!</p>
        <a routerLink="/login">Go to Login</a>
        <p>Thank you</p>
    </div>
    <div *ngIf="showErrorMessage" class="error-message">
        <p>Ups!  {{ errorMessage }}</p>
        <a routerLink="/signup">Try again..</a>
    </div>
</div>